<!DOCTYPE html>
<html>
<head>
        <h1>Chicago Food Inspections Map</h1>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
        <link rel="stylesheet" href="../static/style.css">
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
    <body>
        <select id="neighborhoodDropdown">
            <option value="">Select Neighborhood</option>
            {% for neighborhood in neighborhoods %}
            <option value="{{ neighborhood }}">{{ neighborhood }}</option>
            {% endfor %}
        </select>
        </select>
        <div id="map" style="width: 100%; height: 500px;"></div>
        <script>
            var map = L.map('map').setView([41.8781, -87.6298], 10);

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

            var failLayer = L.layerGroup();
            var riskLayer = L.layerGroup();

            // Fetch data from modified_food_inspections.csv
            fetch('../data/modified_food_inspections.csv')  // Update the path accordingly
                .then(response => response.text())
                .then(data => {
                    var markers = data.split('\n').map(line => line.split(','));
                    markers.shift(); 

                    markers.forEach(marker => {
                        var lat = parseFloat(marker[8]);  
                        var lon = parseFloat(marker[9]);  
                        var name = marker[0];  
                        var address = marker[3];  
                        var total_fail = parseInt(marker[12]);  
                        var total_risk = parseInt(marker[13]);  

                        var icon = L.divIcon({
                            className: 'custom-icon',
                            html: '<i class="fas fa-exclamation-triangle"></i>',
                            iconSize: [24, 24]
                        });

                        var popupContent = `
                            <strong>${name}</strong><br>
                            Address: ${address}<br>
                            Total Fail: ${total_fail}<br>
                            Total Risk: ${total_risk}
                        `;

                        var markerLayer = L.marker([lat, lon], { icon: icon })
                            .bindPopup(popupContent);

                        if (total_fail > 0) {
                            failLayer.addLayer(markerLayer);
                        }

                        if (total_risk > 0) {
                            riskLayer.addLayer(markerLayer);
                        }
                    });

                    var overlayMaps = {
                        'Top 10 Fail': failLayer,
                        'Top 10 Risk': riskLayer
                    };

                    L.control.layers(null, overlayMaps).addTo(map);
                });
        </script>
        <script src="./static/js/map.js"></script>
    </body>
</html>
